{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <center>
    <h1>Login</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a><br>
      <button class="primaryAction btn btn-success" type="submit">Login</button>
    </form>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <p>Don't have an account <a href="{{ signup_url }}">sign up</a></p>

    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers" style="list-style-type:none;">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  <center>
</div>
{% endblock %}