Django==1.8.1
argparse==1.2.1
beautifulsoup4==4.4.1
dj-database-url==0.4.0
django-allauth==0.24.1
gunicorn==19.4.5
oauthlib==1.0.3
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.6.1
whitenoise==2.0.6
wsgiref==0.1.2
psycopg2==2.6
SQLAlchemy==1.0.4
django-postgrespool==0.3.0
